.App {
  background: linear-gradient(to bottom, #c94b4b, #4b134f);
  padding-bottom: 100px;
  min-height: 100vh;
}
.card-image img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
/* .addUser-btn {
  background: white;
  color: blue;
  border: 1px solid blue;
} */
.top-section {
  padding: 20px 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.top-section__title {
  color: white;
}
.content-section {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0px 5px 14px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 20px;
}
.card-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10% 10px;
}
.card-buttons {
  height: 100%;
}
.card-bottom-info {
  padding: 0 10%;
}
